$taco-red: #c43b1f;
$white: #f5f5f5;
$black: #333333;
$trivia-card: #eeeeee;
$trivia-easy: #45c279;
$trivia-medium: #d8db0e;
$trivia-hard: #d33131;
$joke-background: #b9523e;
$joke-setup: #e7e7e7;
$joke-punchline: #2e2e2e;
$shadow: #696969;

%center {
  text-align: center;
  margin: 0 auto;
}